{% extends "base.html" %}

{% block body_class %} bg-gray-100 {% endblock body_class %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <h1 class="mb-6">{{ sport.name }} Details</h1>
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" style="height: 200px; width: 200px; object-fit:cover;" src="{{ sport.sport_avatar.url }}">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ sport.name }}</h4>
                <div class="d-block">
                  <a href="{% url "club:sport-update" pk=sport.id %}" type="button" class="btn bg-gradient-warning w-auto mb-0">Update</a>
                  <a href="{% url "club:sport-delete" pk=sport.id %}" class="btn bg-gradient-danger w-auto mb-0">Delete</a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ sport.trainers.count }}</span>
                  <span>Trainer{{ sport.trainers.count|pluralize }}</span>
                </div>
                <div class="col-auto">
                  <span class="h6">{{ sport.workouts.count }}</span>
                  <span>Workout{{ sport.workouts.count|pluralize }}</span>
                </div>
              </div>
              <p class="text-lg mb-0">
                {% if sport.description %}
                  {{ sport.description }}
                {% else %}
                  Sport description is not provided yet.
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}