{% extends "base.html" %}

{% block body_class %} bg-gray-100 {% endblock body_class %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <h1 class="mb-6">Sports Club Details</h1>
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" style="height: 200px; width: 200px; object-fit:cover;" src="{{ sports_club.club_avatar.url }}">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ sports_club.name }}</h4>
                <div class="d-block">
                  <a href="{% url "club:sports-club-update" pk=sports_club.id %}" type="button" class="btn bg-gradient-warning w-auto mb-0">Update</a>
                  <a href="{% url "club:sports-club-delete" pk=sports_club.id %}" class="btn bg-gradient-danger w-auto mb-0">Delete</a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ sports_club.trainers.count }}</span>
                  <span>Trainer{{ sports_club.trainers.count|pluralize }}</span>
                </div>
              </div>
              <p class="text-lg mb-0">
                Swimming pool:
                {% if sports_club.swimming_pool %}
                  <img src="../../static/assets/img/correct.png" title="correct icons" style="width: 20px; height: 20px">
                {% else %}
                  <img src="../../static/assets/img/remove.png" title="delete icons" style="width: 20px; height: 20px">
                {% endif %}
                <br>
                City: {{ sports_club.city }}
                <br>
                Address: {{ sports_club.address }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}