{% extends "base.html" %}



{% block content %}
  <section>
    <div class="container py-4 mt-6">
      <div class="row">
        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
          <div class="card d-flex justify-content-center p-4 shadow-lg">
            <div class="text-center">
              <h1>{{ object|yesno:"Update,Create" }} Trainer</h1>
              <div class="card card-plain">
            <form role="form" method="post" enctype="multipart/form-data" autocomplete="off">
              {% csrf_token %}
              {% if form.experience.errors %}
                <p>
                  {{ form.experience.errors }}
                </p>
              {% endif %}
              <div class="card-body pb-2">
                <div class="row justify-content-center">
                  <div class="col-md-4">
                  <label>First Name</label>
                  <div class="input-group mb-4">
                    {{ form.first_name }}
                  </div>
                </div>
                <div class="col-md-4 ps-2">
                  <label>Last Name</label>
                  <div class="input-group">
                    {{ form.last_name }}
                  </div>
                </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-4">
                  <label>Username</label>
                  <div class="input-group">
                    {{ form.username }}
                  </div>
                  </div>
                  <div class="form-group col-md-4 ps-2">
                  <label>Choose the sports club</label>
                  {{ form.sports_club }}
                </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group">
                    {{ form.email }}
                  </div>
                  </div>
                  <div class="form-group col-md-2 ps-2">
                  <label>Experience</label>
                  {{ form.experience }}
                </div>
                </div>
                <div class="form-group mb-0 mt-md-0 mt-4 col-md-7 mx-auto">
                  <label>Provide image</label>
                  {{ form.trainer_avatar }}
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <input type="submit" value="Submit" class="btn bg-gradient-primary mt-3 mb-0">
                    <a class="btn bg-gradient-danger mt-3 mb-0" href="{% url "club:trainer-list" %}">Cancel</a>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}